Config 
    { font = "xft:FiraCode:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:FontAwesome:pixelsize=12:antialias=true:hinting=true"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#1B2430"
       , fgColor = "#F6E3C5"
       , alpha = 255
       , position = Top
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = False
       , pickBroadest = False
       , persistent = True 
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                    Run Com "uname" ["-s","-r"] "" 36000
                   , Run Date "%A %b %d %I:%M:%S %p" "date" 10
                   , Run Com "echo" ["<fn=0>\xe0b8</fn> "] "bell" 3600
                   , Run UnsafeStdinReader 
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%UnsafeStdinReader%  }\
                    \{ <fc=#B4FF9F> %date%</fc> | %uname%"
       }

