Config 
    { font = "xft:FiraCode:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:Font Awesome 5 Free Solid:pixelsize=12"]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#1B2430"
       , fgColor = "#F6E3C5" 
       , alpha = 255 
       , position = Bottom
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = False 
       , pickBroadest = False
       , persistent = False 
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [
                    Run Cpu [
                        "-t", "<box type=Bottom width=3 offset=2 color=#D6D5A8><fn=1>\xf2db</fn> <total>%</box>"
                        , "-L","3"
                        , "-H","50"
                        , "--normal","green"
                        , "--high","red"
                    ] 10
                    , Run Memory [
                        "-t","<box type=Bottom width=3 offset=2 color=#D6D5A8><fn=1>\xf538</fn> <usedratio>%</box>"
                    ] 10
                    -- , Run Swap [] 10
                    , Run Com "uname" ["-s","-r"] "" 36000
                    , Run Date "%A %b %d %I:%M:%S %p" "date" 10

                    , Run Volume "default" "Master" [ 
                        "-t", "<box type=Bottom width=3 offset=2 color=#D6D5A8><status> <volume>%</box>"
                        , "--"
                        , "-O", "<fn=1>\xf028</fn>"
                        , "-o", "<fn=1>\xf026</fn>"
                        , "-C", "#B4FF9F" ] 1

                    , Run BatteryP ["BAT0"]
                        ["-t", "<acstatus>"
                        , "-L", "10", "-H", "80"
                        , "-l", "red", "-h", "#B4FF9F"
                        , "--"
                        , "-O", "<box type=Bottom width=3 offset=2 color=#D6D5A8> <fn=1>\xf0e7</fn> <left>% </box>"
                        , "-o", "<box type=Bottom width=3 mt=2 color=#D6D5A8> <fn=1>\xf1e6</fn> <left>% </box>"
                        , "-i", "<box type=Bottom width=3 mt=2 color=#D6D5A8> <fn=1>\xf240</fn> <left>% </box>"
                        , "-A", "20"
                        , "-a", "gxmessage the battery level is below 20%"
                        ] 10
                    , Run DiskU [("/", "<box type=Bottom width=3 offset=2 color=#D6D5A8><fn=1>\xf51f</fn><usedp>%</box>"), ("sdb1", "<usedbar>")]
                          ["-L", "20", "-H", "50", "-m", "1", "-p", "3"]
                          20
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "} %default:Master%  %memory%  %cpu%  %battery%  %disku% {" 

       }
